.station-no,.station-name{
	
	/*font-family:Arial,º–∑¢≈È;*/
		
}			
body{
	background-color:#eee;
}
#content a{
	text-decoration: none;
	color:#333;
	font-weight:900;
}
#content{
	border: 0px solid #000;
	position:relative;
	width:480px;
	margin:0 auto;
	padding:0;
}
.station-div{
	position:relative;
	border-left:20px solid #4a4;
	height:100px;			
}
.station-point{
	margin-left:-47px;
	position:relative;
	border: 2px solid #FFF;
	background: #4a4;
	border-radius: 35px;
	width:70px;
	height:70px;
}
.station-no,.station-branch-no{
	border: 0px solid #000;
	margin:auto;
	position:absolute;
	background: #FFF;
	border-radius: 25px;
	width:50px;
	height:50px;
	line-height:50px;
	font-size:30px;
	top:0; bottom:0; left:0; right:0;
	text-align: center;
	font-weight:900;
}
.station-name{
	border: 0px solid #000;
	margin:auto;
	position:absolute;				
	top:0; left:0; right:0; 
	width:340px;
	height:70px;
	line-height:70px;
	font-size:40px;
	text-align:center;
}
.station-branch-div{
	border: 0px solid #000;
	border-top: 20px solid #a44;
	position:absolute;
	top:25px;
	left:-260px;
	width:200px;
}
.station-branch-point{
	border: 0px solid #000;
	position:absolute;
	top:-45px;
	right:-5px;				
	border: 2px solid #FFF;
	background: #a44;
	border-radius: 35px;
	width:70px;
	height:70px;
	line-height:70px;				
}
.station-branch-name{
	border: 0px solid #000;
	margin:auto;
	width:340px;
	height:70px;
	line-height:70px;
	font-size:40px;
}
.back-btn{
	border: 1px solid #000;
	position:absolute;				
	right:0; top:0;
	width:100px;
	height:100px;
	z-index:99;
}
@media screen and (max-width: 530px)  {
	#content{
		width:280px;
	}
	.station-div{
		border-left:10px solid #4a4;
		height:50px;				
	}
	.station-point{
		margin-left:-27px;
		border-radius: 20px;
		width:40px;
		height:40px;
		line-height:40px;
	}
	.station-no{
		border-radius: 15px;
		width:30px;
		height:30px;
		line-height:30px;
		font-size:18px;
	}
	.station-name{
		width:200px;
		height:40px;
		line-height:40px;
		font-size:20px;
	}
	.station-branch-div{
		border: 0px solid #000;
		border-top: 10px solid #a44;
		position:absolute;
		top:16px;
		left:-135px;
		width:100px;
	}
	.station-branch-point{
		top:-25px;
		border-radius: 20px;
		width:40px;
		height:40px;
		line-height:40px;				
	}
	.station-branch-no{
		border-radius: 25px;
		width:30px;
		height:30px;
		line-height:30px;
		font-size:18px;				
		top:0; bottom:0; left:0; right:0;
		text-align: center;
	}
	.station-branch-name{
		height:40px;
		line-height:40px;
		font-size:20px;
	}
	
	.back-btn{
		width:50px;
		height:50px;
	}
	
	
}